<div ng-app='myApp' ng-controller='HomeCtrl'>
  <h1>StaticPages#index</h1>
  <p>Find me in: app/views/static_pages/index.html.erb</p>
  <div><b>ng-view</b> template should display below:</div>
  <hr>

  <div ng-view=""></div>

</div>

