<div ng-app='myApp' ng-controller='HomeCtrl'>
  <h1>ng-view added to: StaticPages#index</h1>
  <p>Find me in app/views/static_pages/index.html.erb</p>
  <div>ngView template below...</div>
  <div ng-view=""></div>
</div>
