<!DOCTYPE html>
<html>
<head>
  <title>Simple Setup for AngularJS and Rails</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>Application Layout</div>

<div>
  <%= yield %>
</div>

</body>
</html>

